.vs
/obj
bin
ref_pax_core
ref_equi_core
ref_si_core
/misc
ref_pax_defenders
*.mwm
/misc_and_temp
ref_si_vehicle_ai
ref_equi_rail_core
ref_modern_smallarms
ref_pax_water_core
ref_vanilla_content
ref_workshop
